@import url('index.css');

#blog-content {
    background-image: url("../assets/old_bg.png");
    font-size: 1.25vw;
    min-height: 100vh !important;
    padding: 10vh 5%;
}

.blog-container {
    text-align: center;
    max-width: 1080px;
    margin: 20px auto;
    padding: 10vh 2.5%;
    color: #ffffff;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(19px);
    -webkit-backdrop-filter: blur(19px);
    box-shadow:
        inset 0 9px 32px rgba(255, 255, 255, 0.1),
        inset 0 1px 0 rgba(0, 0, 0, 0.5),
        inset 0 -1px 0 rgba(0, 0, 0, 0.2),
        inset 0 0 42px 21px rgba(0, 0, 0, 0.2),
        0 10px 35px rgba(0, 0, 0, 0.6);
}

.blog-maintenance-container {
    background: rgba(0, 0, 0, 0);
    box-shadow:
        inset 0 9px 32px rgba(255, 255, 255, 0),
        inset 0 1px 0 rgba(0, 0, 0, 0),
        inset 0 -1px 0 rgba(0, 0, 0, 0),
        inset 0 0 42px 21px rgba(0, 0, 0, 0),
        0 10px 35px rgba(0, 0, 0, 0.6);
    display: block;
    width: 50vw;
    padding: 5vh 2.5%
}

#blog-salut {
    font-weight: 300;
    font-size: calc(1.475rem + 2.7vw);
    text-align: center;
}

#blog-instruction {
    margin-bottom: 1rem;
}

#blog-create-new {
    margin-bottom: .5rem;
    display: flex;
    justify-content: flex-end;
}

.blog-option {
    padding: 0 5vw;
}

.blog-container button {
    padding: 14px;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.6s ease;
}

.blog-container button:hover {
    background-color: #ffffff;
    color: #f4afc2;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, .5);
}

.no-caret::after {
    display: none !important;
}

@media (max-width: 992px) {
    .blog-container {
        padding: 7.5vh 5vw;
    }

    .blog-maintenance-container {
        width: 90vw;
        padding: 3vh 5vw;
    }

    #blog-content {
        padding: 5vh 3vw !important;
        ;
    }
}

/* Blog fetching */

.blog-table {
    --bs-table-color: #d5d5d5;
    --bs-table-striped-color: #ffffff;
    --bs-table-bg: rgb(0, 0, 0, .2);
    --bs-table-striped-bg: rgb(0, 0, 0, .3);
    --bs-table-border-color: rgb(0, 0, 0, .3);
}

.blog-table-title {
    text-align: left;
    max-width: 30vw;
}

.blog-maintain-option * {
    padding: 0 .5vw;
    transition: color .5s, text-shadow .5s;
}

.blog-maintain-option *:hover {
    cursor: pointer;
    color: #f4afc2;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, .5);
}

/* Blog offcanvas */

.blog-offcanvas-end {
    --bs-offcanvas-width: 50vw;
    transition: transform .8s;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    box-shadow:
        inset 0 9px 32px rgba(255, 255, 255, 0.1),
        inset 0 1px 0 rgba(0, 0, 0, 0.5),
        inset 0 -1px 0 rgba(0, 0, 0, 0.2),
        inset 0 0 42px 21px rgba(0, 0, 0, 0.2),
        0 50px 35px rgba(0, 0, 0, 0.4);
}

.blog-offcanvas-header {
    display: block;
    padding: 2rem 5rem 0 3rem;
    color: #ffffff;
}

#blog-title {
    font-family: 'Mrs Saint Delafield';
    letter-spacing: 0;
    color: #f4afc2;
    font-size: 2.5rem;
}


.blog-offcanvas-body {
    padding: 1rem 5rem 1rem 3rem;
    color: #ffffff;
    font-size: 1.25rem;
}

.offcanvas {
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.fade-out {
    opacity: 0 !important;
    transform: translateX(100%) !important;
}

@media (max-width: 992px) {
    .blog-offcanvas-end {
        width: 100vw !important;
    }

    .blog-offcanvas-header {
        padding: 4vh 20vw 0 8vw !important;
    }

    .blog-offcanvas-body {
        padding: 0 8vw 3vh 8vw !important;
        font-size: 4vw;
    }
}

.fade-in-modal {
    opacity: 1 !important;
    transition: opacity .3s ease-in;
}

.fade-out-modal {
    opacity: 0 !important;
    transition: opacity .3s ease-out;
}

.custom-modal {
    backdrop-filter: blur(19px);
    position: fixed;
    display: flex;
    z-index: 1080;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.modal-image {
    margin: auto;
    max-width: 95%;
    max-height: 95%;
    padding: 0 20px;
    background-color: rgba(0, 0, 0, 0);
    justify-content: center;
    align-items: center;
}

/* Blog Maintenance */
.blog-form {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    padding: 0 3vw;
}

.blog-form input::placeholder,
.blog-form textarea::placeholder {
    color: #aaa;
}

.blog-form-content {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.blog-form-content label {
    width: 30%;
    margin-right: 2px;
    font-weight: bold;
    color: #f4afc2;
}

.blog-form-content input,
.blog-form-content textarea {
    flex: 1;
    width: 50%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: #2a2a2a;
    color: #fff;
}

.blog-form-content textarea {
    height: 40vh;
}

@media (max-width: 992px) {
    .blog-form-content {
        flex-direction: column;
        align-items: stretch;
    }

    .blog-form-content label {
        width: 100%;
        margin-bottom: 8px;
    }

    .blog-form-content input,
    .blog-form-content textarea {
        width: 100%;
    }

    .blog-form-content textarea {
        height: 50vh;
    }
}

#blog-maintenance-submit:disabled {
    cursor: not-allowed;
    opacity: 0;
}

#blog-maintenance-submit {
    background-color: #f4afc2;
    color: white;
}

.delete-button {
    background-color: rgba(255, 0, 0, .7) !important;
    color: white !important;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
}

.modal-set-button * {
    margin: 0 2vw;
}

.custom-alert {
    width: 50vw;
    margin: 10vh auto;
    transition: 0.5s ease;
    opacity: .95;
        border: 0;
    z-index: 9999;
}

.alert-success {
    background-color: #f4afc2;
}

.alert-danger {
    background-color: rgba(255, 0, 0, .7);
    color: white;
}

.pink-text {
    color: #f4afc2;
    font-weight: 800;
}